Dear <%= @user.username %>,
<br />
<br />
A new post has been created on Schechter Blog: <a href="http://www.schechter-capital.com/posts/"+<%=@post.id %>><%=@post.title %>
<br />
To unsubscribe from these emails click <a href="http://www.schechter-capital.com/subscribe/">here</a>.
<br />
Thanks,
<br />
<br />
Alex