<p>Dear <%= @user.username %>,</p>
<br />
<br />
<p>A new post has been created on Schechter Blog: <a href="http://www.schechter-capital.com/posts/"+<%=@post.id %>><%=@post.title %></a></p>
<br />
<br />
Alex
<br />
To unsubscribe from these emails click <a href="http://www.schechter-capital.com/subscribe/">here</a>.