<p><%= @post.created_at%></p>
<p><%= @post.text %></p>
 <% if user_signed_in? %>
  <% if current_user.has_role? :admin%>
    <%= link_to "EDIT", edit_post_path(@post)%>
    <%= link_to "DELETE", post_path(@post), method: :delete%>
  <% end %>
<% end %>



