<section class="left-column">
  <h2 class="page-title">ABOUT THE AUTHOR</h2>
  <article class="about">
    <img class="about-foto" src="/about.jpg">
    <p class="about-text">
      My name is Alexander Schechter and I am the owner and author of this blog.<br/><br/>
      Born in Romania in 1974, I moved to West Germany in 1984 where I finished school and went on to study Mathematics with   Computer Science at University of Kaiserslautern. In 1998 I moved to London on a scholarship of the DAAD for a PhD in Mathematics at University College London. 3 years later I completed my thesis entitled Regularities and other Properties of Hausdorff Measures.<br/>
      <br/>
      While I liked Mathematics I could not see myself spending the rest of my life in research and I decided to escape to the corporate world. So I joined investment banking at Dresdner Kleinwort where I worked in sales and structuring. I stayed there until the start of 2008 when they were bought by Commerzbank.<br/>
      <br/>
      After taking a year off from working life to focus on other areas of life I joined the estate of the bankrupt Lehman Brothers in 2009. I was responsible for unwinding their derivatives positions which was a quite versatile role that has taught me a lot. However, even the biggest bankruptcy in history only provides employment for a limited time period and so at the end of my employment I decided to take a plunge and leave the corporate world to pursue my passion. <br/>
      <br/>
      This passion was poker. After studying it part time during my last months at the Lehman estate, I started to play poker full time around Christmas 2011. Just over a year later I was playing the highest stakes that were regularly running online and enjoying all the upsides of the independence that playing poker offers. My blog for the year 2013 can be found here:  HYPERLINK "http://forumserver.twoplustwo.com/174/poker-goals-challenges/quarter-million-2013-challenge-1286730/" http://forumserver.twoplustwo.com/174/poker-goals-challenges/quarter-million-2013-challenge-1286730/<br/>
      <br/>
      While I have maintained an exceptional winrate throughout my poker career, due to poker slowly dying , it has become challenging to keep up the same volume and . Therefore I decided to branch out and find a second occupation that could become my main income long term. This occupation is trading.<br/>
      <br/>
      While I cannot say that I feel the same passion for trading that I felt for poker when I started out, I still feel excited about embarking in a new challenge in my life.  I also believe that my mathematical,  banking and poker experiences together provide the perfect background to be successful in trading.<br/>
      <br/>
      A common saying  (probably not based on serious research)  is that 95% of traders fail eventually so I can see that many people will be sceptical of a 40 year old trying to break into trading out of nowhere. But then again there are also millions of poker players and in just over a year after turning pro I was well within the top 100 of the biggest winners in the world. So we shall see. In any case I plan update this site a bit like blog so people can follow my success or my failure. The reason I do this is so I am forced to question my reasoning and to get new ideas by engaging with readers.<br/>
      <br/>
      At the moment I still live in London with my beautiful wife who was kind enough to design and develop this website from scratch. I am a passionate Tottenham Hotspur supporter so any emails from fellow supporters will be more than welcome. I also like to play football though if I am honest with myself I am mediocre footballer at best, even for a recreational player. In the rest of my free time I like to go on holidays a lot, enjoy all type of films and books.
    </p>
  </article>
</section>
<section class="right-column">
  <h2 class="latest-posts">LATEST POSTS:</h2>
  <% @posts.each do |post| %>
    <article class="latest-post">
      <p class="latest-post-title"><%=post.title%></p>
      <p class="latest-post-message"><%=raw post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-number">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>