<section class="left-column">
<h2>ABOUT BLOGGING WEBSITE</h2>
</section>
<section class="right-column">
  <h2 class="Latest-posts">LATEST POSTS:</h2>
  <% @posts.each do |post| %>
    <article class="post">
      <section class="post-details">
        <p class="post-title"><%=post.title%></p>
      </section>
      <p class="news-post-message"><%=post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-link">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>