<section class="left-column">
  <h2 class="page-title">ABOUT THIS BLOG</h2>
  <article class="about">
    <img class="about-foto" src="http://www.ega-math.narod.ru/Bell/IMG/Euler1.jpg">
    <p class="about-text">
      Leonhard Euler - 15 April 1707 – 18 September 1783) was a pioneering Swiss mathematician and physicist. He made important discoveries in fields as diverse as infinitesimal calculus and graph theory. He also introduced much of the modern mathematical terminology and notation, particularly for mathematical analysis, such as the notion of a mathematical function.[3] He is also renowned for his work in mechanics, fluid dynamics, optics, astronomy, and music theory.<br/>
      <br/>
      Euler is considered to be the pre-eminent mathematician of the 18th century and one of the greatest mathematicians to have ever lived. He is also one of the most prolific mathematicians; his collected works fill 60–80 quarto volumes.[5] He spent most of his adult life in St. Petersburg, Russia, and in Berlin, Prussia.<br/>
      <br/>
      A statement attributed to Pierre-Simon Laplace expresses Euler's influence on mathematics: "Read Euler, read Euler, he is the master of us all."<br/>
      <br/>
      Euler was born on 15 April 1707, in Basel, Switzerland to Paul Euler, a pastor of the Reformed Church, and Marguerite Brucker, a pastor's daughter. He had two younger sisters named Anna Maria and Maria Magdalena. Soon after the birth of Leonhard, the Eulers moved from Basel to the town of Riehen, where Euler spent most of his childhood. Paul Euler was a friend of the Bernoulli family—Johann Bernoulli, who was then regarded as Europe's foremost mathematician, would eventually be the most important influence on young Leonhard. Euler's early formal education started in Basel, where he was sent to live with his maternal grandmother. At the age of 13 he enrolled at the University of Basel, and in 1723, received his Master of Philosophy with a dissertation that compared the philosophies of Descartes and Newton. At this time, he was receiving Saturday afternoon lessons from Johann Bernoulli, who quickly discovered his new pupil's incredible talent for mathematics.[8] Euler was at this point studying theology, Greek, and Hebrew at his father's urging, in order to become a pastor, but Bernoulli convinced Paul Euler that Leonhard was destined to become a great mathematician. In 1726, Euler completed a dissertation on the propagation of sound with the title De Sono.[9] At that time, he was pursuing an (ultimately unsuccessful) attempt to obtain a position at the University of Basel. In 1727, he first entered the Paris Academy Prize Problem competition; the problem that year was to find the best way to place the masts on a ship. Pierre Bouguer, a man who became known as "the father of naval architecture" won, and Euler took second place. Euler later won this annual prize twelve times.
    </p>
  </article>
</section>
<section class="right-column">
  <h2 class="latest-posts">LATEST POSTS:</h2>
  <% @posts.each do |post| %>
    <article class="latest-post">
      <p class="latest-post-title"><%=post.title%></p>
      <p class="latest-post-message"><%=post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-number">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>