// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-title {
  padding-left: 0;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.about {
    padding-right: 2vw;
    padding-bottom: 2vw;
}

.about-text {
  display: inline;
}

.about-foto {
  height: 15vw;
  display: inline;
  float: left;
  padding-right: 2vw;
  padding-top: .5vw;
}