// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  background-color: white;
  margin: 1.6vw;
  padding: 1vw;
}

p {
  line-height: 150%;
}

.comment {
  background-color: #d4d4d9;
  margin: 1.6vw;
  margin-left: 5vw;
  padding: 1vw;
}

.time {
  font-weight: bold;
  padding-right: 1vw;
  color: #4e4f4e;
}

#comment-time {
  display: inline-block;
  float: right;
  margin: 0;
}

.author {
  display: inline-block;
  margin: 0;
  padding-left: 1vw;
  font-weight: bold;
}

.post-title {
  font-weight: bold;
  font-size: 2vw;
  line-height: 90%;

}

.comment-details {
  background-color: white;
}

.posts-post-message {
  height: 70px;
  overflow: hidden;
}

.news-post-message {
  height: 50px;
  overflow: hidden;
}
.read-more {
  padding: 0vw;
  font-size: 1.3vw;
  color: #4e4f4e;
}

.comment-link {
  font-size: 1.3vw;
  color: #4e4f4e;
  padding: 0;
  float: right;
}