// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  background-color: white;
  border-bottom: solid 2px #d9def4;
  margin-right: 2vw;
}

.post-details{
  background-color:  #eaedf9;
}

p {
  line-height: 150%;
}

.comment {
  background-color: white;
  margin: 1.6vw;
  margin-left: 6vw;
  padding: 1vw;
}

.time {
  font-weight: bold;
  color: #8e9ddf;
  padding-left: 1vw;
}

#comment-time {
  display: inline-block;
  float: right;
  padding-right: 1vw;
  margin: 0;
}

.author {
  display: inline-block;
  margin: 0;
  padding-left: 1vw;
  font-weight: bold;
}

.post-title {
  font-weight: bold;
  font-size: 2vw;
  line-height: 90%;
  padding-top: 1vw;
  padding-left: 1vw;

}

.comment-details {
  background-color: #d9def4;
}

.posts-post-message {
  height: 70px;
  overflow: hidden;
}

.read-more {
  padding: 0vw;
  font-size: 1.3vw;
  color: #8e9ddf;
}

.read-more:hover {
  text-decoration: underline;
  color: #8e9ddf;
}

.comment-link {
  font-size: 1.3vw;
  color: #8e9ddf;
  padding: 0;
}

.comment-link:hover {
  text-decoration: underline;
  color: #8e9ddf;
}

//--------------

.latest-post {
  margin-left: 2vw;
  border-bottom: solid 2px #d9def4;
}

.latest-post-title {
  font-size: 1.5vw;
  font-weight: bold;
  background-color: #eaedf9;
  padding: 0.2vw;
}

.latest-post-message {
  height: 50px;
  overflow: hidden;
}

.comment-number {
  padding-left: 6.2vw;
  color: #8e9ddf;
  font-size: 1.3vw;
}

.comment-number:hover {
  color: #8e9ddf;
}
