// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  background-color: #d4d4d9;
  margin: 2vw;
  padding: 1vw;
}
.comment {
  background-color: #d4d4d9;
  margin: 2vw;
  margin-left: 5vw;
  padding: 1vw;
}

.time {
  float: right;
}

.read-more {
  display: initial;
  padding: 0vw;
  font-size: 1.3vw;
  color: #4e4f4e;
}

.comment-link {
  display: initial;
  padding: 0vw;
  font-size: 1.3vw;
  float:right;
  color: #4e4f4e;
}